/* © 2012 Artem Sapegin http://sapegin.me */

/* Global reset */
* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html {
}

body {
	font-family:'HeliosCondWeb', Helvetica, Arial, sans-serif;
	font-size:16px;
	padding-bottom:20px;

	}

	a,
	a:link,
	a:visited {
	color:#074b80;
	}

	a:hover,
	a:active,
	a:focus {
	color:#801007;
	}

.fullscreen .header,
.fullscreen .header *,
#download,
#download * {
	visibility:visible;
	z-index:10;
	}


/* Header */

p {
	margin-top: 8px;
}

.logo {
	width:100%;
	text-align:center;
	padding-top:20px;
	margin-bottom: 0px;
	font-size:32px;
	font-weight:normal;
	color:#000;
	font-family: 'HeliosCondWeb';
	}
	
h2 {
	font-size:24px;
	font-weight:normal;
	font-family: 'HeliosCondWebBold';
	margin-top: 20px;
}


.fb-like {
	width:100%;
	padding-bottom:10px;
	color:#000;
	margin-top: 15px;
	}

.slogan {
	font-size:24px; 
	line-height:36px; 
	font-family:'HeliosCondWebBold';
	margin-top: 30px;
	margin-bottom: 20px;
}

.quote {
	border: 1px, solid, #ccc;
	padding-top: 20px;
	font-family: 'HeliosCondWebItalic';
}



/* Descriptions */

.fotorama .caption {
	position:absolute;
	bottom:10px;
	left:0px;
	padding:6px 8px;
	border-radius:0px;
	color:#fff;
	text-shadow:0 0 1px #000;
	background:#000;
	background:hsla(0,0%,0%,.7);
	}
	.caption__title {
		display:block;
		margin-bottom:6px;
		font-size:15px;
		}
		.caption__title a,
		.caption__title a:link,
		.caption__title a:visited {
			color:#ccc;
			color:hsla(0,0%,100%,.6);
			}
		.caption__title a:hover,
		.caption__title a:active,
		.caption__title a:focus {
			color:#fff;
			}

a.quoted_lnk
{ text-decoration: none; }

a .slaquo,
a .hlaquo,
a .slaquo-s,
a .hlaquo-s,
a .slaquo-b,
a .hlaquo-b
{ margin: 0; }

.quoted_lnk .inner_q_l
{ text-decoration: underline; }

span.slaquo {margin-right: 0.44em}
span.hlaquo {margin-left: -0.44em}
span.slaquo-s {margin-right: 0.6em}
span.hlaquo-s {margin-left: -0.6em}
span.slaquo-b {margin-left: 0.85em}
span.hlaquo-b {margin-left: -0.85em}
